<!--==============================
        Footer Area
==============================-->
<footer class="footer-wrapper footer-layout2" data-bg-src="{{ asset('assets/img/bg/footer_bg_2.png') }}">
    <div class="anime-img-1 shape-mockup jump d-none d-lg-block" data-right="0" data-top="120px"><img src="{{ asset('assets/img/bg/footer_bg_2-shape.png') }}" alt="img"></div>

    <div class="widget-area space2-bottom">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xxl-3 col-xl-3">
					<a href="/"><img src="{{ asset('assets/img/logo_orange 2.png') }}" alt=""></a>
					<a href="/"><img src="{{ asset('assets/img/AMD 37.png') }}" alt=""></a>
                    <div class="widget footer-widget">
                        <div class="as-widget-about">
                            <p class="about-text">Basé en Indre-et-Loire – Dépannage, entretien, et expertise mécanique directement chez vous. Appelez-nous, on s’occupe de tout !</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Contact<span class="line"></span></h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu2">
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="/">Accueil</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Liens<span class="line"></span></h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu2">
                                <li><a href="/projet">Projet</a></li>
                                <li><a href="/a-propos">A Propos</a></li>
                                <li><a href="/avis">Avis</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">HORAIRES</h3>
                        <div class="company-info-wrap">
                            <ul class="company-info-list">
                                <li class="company-info"><strong>Lundi:</strong>8H - 18H</li>
                                <li class="company-info"><strong>Mardi:</strong>8H - 18H</li>
                                <li class="company-info"><strong>Mercredi:</strong>8H - 18H</li>
                                <li class="company-info"><strong>Jeudi:</strong>8H - 18H</li>
                                <li class="company-info"><strong>Vendredi:</strong>8H - 18H</li>
                                <li class="company-info"><strong>Samedi:</strong>Closed</li>
                                <li class="company-info"><strong>Dimanche:</strong>Closed</li>
                            </ul>
                        </div>
                    </div>
                </div>                 
            </div>
        </div>
    </div>
    <div class="copyright-wrap" style="background: #1B1F29; border-color: #2A2F3D;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p class="copyright-text"><i class="fal fa-copyright me-1"></i>Copyright 2025 <a href="/">AMD37.</a> All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 text-end d-none d-lg-block">
                    <div class="footer-links">
                        <ul>
                            <li><a href="/ml">Mention Legal</a></li>
                            <li><a href="/ml">Politique de confidentialité</a></li>
                            <li><a href="/ml">CGU</a></li>
                        </ul>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</footer>