<!--==============================
    Sidemenu
============================== -->
<div class="popup-search-box d-none d-lg-block">
	<button class="searchClose">
		<i class="fal fa-times"></i>
	</button>
	<form action="#">
		<input type="text" placeholder="Que recherchez-vous?">
		<button type="submit">
			<i class="fal fa-search"></i>
		</button>
	</form>
</div>
<!--==============================
Mobile Menu
============================== -->
<div class="as-menu-wrapper">
	<div class="as-menu-area text-center">
		<button class="as-menu-toggle">
			<i class="fal fa-times"></i>
		</button>
		<div class="mobile-logo">
			<a href="index.html"><img src="assets/img/logo_orange 2.png" alt="amd37"></a>
			<a href="index.html"><img src="assets/img/AMD 37.png" alt="amd37"></a>
		</div>
		<div class="as-mobile-menu">
			<ul>
				<li class="menu-item-has-children">
					<a href="/">ACCEUIL</a>
				</li>
				<li>
					<a href="/a-propos">A PROPOS</a>
				</li>

				<li class="menu-item-has-children">
					<a href="#">PAGES</a>
					<ul class="sub-menu">
						<li>
							<a href="/projet">Projet</a>
						</li>
						<li>
							<a href="/project-detaillé">Projet détaillé</a>
						</li>
						<li>
							<a href="/avis">Avis</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="/contact">CONTACT</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="sidemenu-wrapper d-none d-lg-block ">
	<div class="sidemenu-content bg-title">
		<button class="closeButton sideMenuCls">
			<i class="far fa-times"></i>
		</button>
		<div class="widget footer-widget">
			<div class="as-widget-about">
				<div class="footer-logo">
					<a href="/"><img src="assets/img/logo-white2_2.svg" alt="AMD37"></a>
				</div>
				<p class="about-text">Fusce varius, dolor tempor interdum tristiquei bibendum.</p>
				<ul class="footer-info-list">
					<li class="footer-info">
						<i class="fa-solid fa-phone"></i>
						<a href="tel:0699483005">0699483005</a>
					</li>
					<li class="footer-info">
						<i class="fa-solid fa-envelope"></i>
						<a href="mailto:sylvainmestivier@outlook.fr">sylvainmestivier@outlook.fr</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="widget footer-widget"></div>
		<div class="widget newsletter-widget footer-widget">
			<h3 class="widget_title">Subscribe</h3>
			<p class="footer-text">Get latest updates &amp; offers Now.</p>
			<form class="newsletter-form">
				<input class="form-control" type="email" placeholder="Entre Ton Adresse Mail" required="">
				<button type="submit" class="as-btn">
					<i class="fa-solid fa-paper-plane"></i>
				</button>
			</form>
			<div class="company-info mt-35">
				<h6 class="info-title">
					<i class="fa-light fa-clock"></i>
					Opening Time</h6>
				<span class="info-details">
					Mon-Sat :    8:00AM - 5:00PM</span>
			</div>
		</div>
	</div>
</div>


<!--==============================
Header Area
==============================-->
<header class="as-header header-layout2">
	<div class="navbar-top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xxl-7 col-lg-6 text-lg-start text-center">
					<div class="header-links d-lg-inline-block d-none">
						<ul>
							<li>
								<i class="far fa-phone"></i>
								<a href="tel:0699483005">0699483005</a>
							</li>
							<li>
								<i class="far fa-envelope"></i>
								<a href="mailto:help24/7@gmail.com">sylvainmestivier@outlook.fr</a>
							</li>
							<li class="d-xxl-block d-none">
								<i class="far fa-location-dot"></i>
								<a href="mailto:help24/7@gmail.com">sorigny</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div
		class="sticky-wrapper">
		<!-- Main Menu Area -->
		<div class="menu-area">
			<div class="logo-bg-shape"></div>
			<div class="container-fluid">
				<div class="row align-items-center justify-content-between">
					<div class="col-auto">
						<div class="header-logo">
							<a href="index.html"><img src="assets/img/logo_orange 2.png" alt="dealaro"></a>
							<a href="index.html"><img src="assets/img/AMD 37.png" alt="dealaro"></a>
						</div>
					</div>
					<div class="col-auto">
						<div class="menu-area">
							<nav class="main-menu d-none d-lg-inline-block">
								<ul>
									<li>
										<a href="/">ACCUEIL</a>
									</li>
									<li>
										<a href="/a-propos">A PROPOS</a>
									</li>
									<li class="menu-item-has-children">
										<a href="#">PAGES</a>
										<ul class="sub-menu">
											<li>
												<a href="/project">Projet</a>
											</li>
											<li>
												<a href="/project-detaillé">Projet détaillé</a>
											</li>
											<li>
												<a href="/avis">Avis</a>
											</li>
										</ul>
									</li>
								</ul>
							</nav>
							<button type="button" class="as-menu-toggle d-inline-block d-lg-none">
								<i class="far fa-bars"></i>
							</button>
						</div>
					</div>
					<div class="col-auto d-none d-lg-block">
						<div class="header-button">
							<button type="button" class="icon-btn bg-none searchBoxToggler">
								<i class="fa-regular fa-magnifying-glass"></i>
							</button>
							<a href="/contact" class="as-btn style4 d-none d-xl-block">Contactez-nous</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
